* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 25px;
  width: 300px;
  height: 130px;
}

.bookImg {
  width: 200px;
  height: 285px;
}
/* #results {
} */
.linkBtn {
  display: block;
  background-color: rgb(235, 145, 72);
  width: 200px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}
.btns-pages {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 100px;
  align-items: center;
  margin: 100px 10px;
}
.btn-bottom {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.top-nav {
  position: fixed;
  top: 0;
}
#results {
  margin-top: 100px;
}
.page {
  cursor: pointer;
  width: 10px;
  border: none;
  margin: 0 10px;
}
.page:hover {
  color: red;
}
.pg-active {
  color: red;
}
